Package: libcouchdbclient-erlang
Version: 0.1
Section: web 
Priority: optional
Architecture: all
Essential: no
Depends: erlang, librfc4627-erlang
Installed-Size: 1024
Maintainer: Nick Gerakines <nick@gerakines.net>
Provides: libcouchdbclient-erlang
Description: A simple CouchDB client (in Erlang).

